.player-container {
  box-shadow: 5px 5px 10px grey;
  border-radius: 12px;
}

.player-img {
  width: 150px;
  background-color: blueviolet;
}
.player-info p {
  font-weight: 700;
  color: currentColor;
  border-bottom: 1px grey dashed;
}
